extends layouts/main

block content
  .from-container
    form(action=`/videos${routes.upload}`, method="post")
      label(for="file") Video File
      input(type="file", name="file", id="file" required=true)
      input(type="text", name="title", placeholder="Title" required=true)
      textarea(name="description", placeholder="description" required=true)
      input(type="submit", value="Upload Video")
